
body{
    background: var(--white);
    overflow-x: hidden;
}
/* Section Abount me */
.section-about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5rem;
    width: 90%;
    margin: 5rem auto; 
} 
.about-me p{
    margin-top: 3rem;
    
}
/* Section meine Daten */
.my-daten{
    display: grid;
    gap: 1rem;
}
.my-daten .hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem 0; 
    width: 100%;
    box-shadow: 0px 0px 57.3px 10px rgba(14, 29, 51, 0.1);
    border-radius: 10px;
}
/* box meine daten */
.section-about-me .my-daten button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}
.section-about-me .my-daten img{
    width: 62px;
    height: 62px;
    padding: 0.3rem;
}
/* email */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--black);
    border-radius: 10px;
    
}
.contact .email{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 57.3px 10px rgba(14, 29, 51, 0.1);
    
}
.contact .email p{
    color: var(--white);

}

.contact .email img{
    width: 48px;
    height: 48px;
}

/* me img */
.img-me{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-me img{
   width: 100%;
   border-radius: 10px;
   box-shadow: 0px 0px 57.3px 10px rgba(14, 29, 51, 0.1); 
}

.hobbies .container-icon {
    opacity: 0;
}
/* icons open */
.hobbies  .container-icon.active {
    opacity: 1;
    /* transform: scale(2); */
}

/* icons open animation*/
.hobbies .container-icon img {
    -webkit-animation: fadeInLi 0.6s 0.2s forwards;
            animation: fadeInLi 0.6s 0.2s forwards;
  } 
.hobbies .container-icon img:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.hobbies.container-icon img:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.hobbies .container-iconimg:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

/* section über mich */
.section-skills{
    background: var(--black);
    padding: 5rem 0;
}
.container-skills {
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 10rem 1fr 1fr 1fr;
    background: var(--black);
}
.container-skills div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    background: linear-gradient(47deg, rgba(246, 253, 253, 0.1) -92.29%, rgba(14, 29, 51, 0.34) 76.88%);
    box-shadow: 0px 4px 47.7px -3px rgba(0, 0, 0, 0.25);
    color: var(--white);
    min-height: 200px;
    font-size: 1.5em;

}

.container-skills .icon{
    width: 63px;
    height: 63px;
    background: var(--green);
    border-radius: 10px;
}
.container-my-skills .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-my-skills .container div{
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
}
.container-my-skills .container p{
    color: var(--white);
    font-size: 1.7em;
}


/* footer */
footer{
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer{
    background: var(--green);
    height: 3px;
    width: 80%;
    margin: 2rem;
    border-radius: 3px;
}

/* media-querie */

@media screen and (max-width: 1400px){
    .container-skills,
    .section-about-me {
        grid-template-columns: repeat(2,1fr);
    }
    .section-about-me .about-me{
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        gap: 5rem;
    } 
    .img-me{
        justify-content: flex-start;
    }

} 
@media screen and (max-width: 1100px){
    .section-about-me .about-me{
        grid-column-end: 2;
        flex-direction: column;
        gap: 0.5rem;
    } 
    .section-about-me {
        grid-template-columns: 1fr;
    }
    .img-me {
        justify-content: center;
        
    }
   

}
@media screen and (max-width: 900px){
    .container-skills {
        grid-template-columns: 1fr;
        
    }
    .contact .email img{
        width: 32px;
        height: 32px;
    }
}
@media screen and (max-width: 500px){
    .section-about-me{
        width: 90%;
    }
    .hobbies .container-icon img{
        width: 48px;
        height: 48px;
    }
    .contact .email img{
        display: none;
    }

    .contact .email p{
        font: 1em;
    }
    .container-skills ul li{
        font-size: 0.9em;
    }
  }