/* nav burger menü*/
header{
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}
 header .nav{
  display: flex;
} 

.nav-container ul {
  width: 100%;
  display: flex;
}

header ul li a {
    color: var(--black);
    font-size: 0.9em;
    margin: 1rem;
    z-index: 10;
}
.nav-li:hover{
  background-color: red;

}
header .socialMedia{
    display: flex;
} 

header p{
    font-size: 2em;
    align-self: center;
}


/* media queries */
@media screen and (max-width: 700px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .nav{
    margin-top: 2rem;
  }

}
