
header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background: var(--white);
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto 5rem auto;
}

.nav-container{
  display: flex;
}
.nav-container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2rem;
  
} 

header ul li a {
    color: var(--black);
    font-size: 0.9em;
    font-weight: 500;
    margin: 1rem;
    z-index: 10;
}
.nav-li:hover{
  color: var(--white);
}
header .socialMedia{
    display: flex;
} 

header p{
    font-size: 2em;
    align-self: center;
}


/* media queries */
@media screen and (max-width: 700px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  header .socialMedia{
    display: flex;
} 


}
