body{
    background: var(--white);
}

  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
  }
header{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--black);
}
header > div{
    width: 90%;
    margin: 0 auto;
}

.projects > ul{
    position: sticky;
    top: 1%;
    z-index: 10000;
    display: flex; 
    justify-content: center;
    margin:  4rem auto;
    max-width: 40rem;
    border-radius: 50px;
    overflow-x: auto;
}
.projects ul li{
    padding: 1rem 2rem;
    cursor: pointer;
}
/* section projekte */
.allProjects{
    width: 90%;
    margin: 0 auto;
}
.projects .containerProjects h2{
    text-align: center;
    margin-top: 4rem;
}
.projects .containerProjects img{
    width: 20rem;
}
.projects .containerProjects .projects{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}
.projects .containerProjects .projects .wrapper{
    width: 30%;
}
.tech{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 10% 90% ;
    padding: 2rem 0;
}
.projects .containerProjects .projects .wrapper .tech ul{
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}
.projects .containerProjects .projects .wrapper .tech button{
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0 auto;
    align-self: flex-end;
}

.projects .containerProjects .projects .wrapper .tech ul li{
    padding: 0;
}
.containerProjects .projects:nth-of-type(even) {
    flex-direction: row-reverse;
}
.wrapper h3{
    font-size: 2em;
    font-weight: 500;
}
.wrapper h4{
    font-weight: 500;
    
}

.dot {
    width: 80%;
    height: 3px;
    background-color: var(--black);
    border-radius: 50%;
    margin-left: 5px;
  }

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer{
    background: var(--green);
    height: 3px;
    width: 80%;
    margin: 2rem;
    border-radius: 3px;
}

/* fade animation */
.fade {
	animation-name: fade;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0
	} to {
		opacity: 1
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 0
	} to {
		opacity: 1
	}
}

/* media-queries */
@media screen and (max-width: 1200px) {
    
    .projects .containerProjects .projects{
        flex-direction: column;
    }
    .projects .containerProjects .projects .wrapper{
        width: auto;
    }
    .projects .containerProjects .projects .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

    }
}
@media screen and (max-width: 700px) {

    .projects > ul{
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0;
        top: 0;
        margin: 0 auto;
    }
    .projects .tech{
        gap: 1rem;
    }
    
  
}