/* === Small CSS Reset === */
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica, sans-serif;
}

/* color */
:root {
  --darkgreen: #0D8980;
  --green: #40b8a2;
  --lightgreen: #75d6ad;
  --white: #f6fdfd;
  --black: #0e1d33;
  --opagreen: rgba(64, 184, 162, 0.16);
}

/* Text markierung */
::-moz-selection {
  background: var(--green);
  color: var(--white);
}
::selection {
  background: var(--green);
  color: var(--white);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

/* font */

h1 span,
h2,
h3 {
  color: var(--green);
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 7em;
  line-height: 60px;
  margin-bottom: 0.5rem;
  color: var(--opagreen);
  font-weight: 400;
  text-transform: uppercase;
}
h2{
  font-size: 2em;
}
p {
  color: var(--black);
  font-weight: 200;
  font-size: 1.5em;
}
span{
  font-size: 50%;
}

/* icons */
.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: linear-gradient(
    178.22deg,
    #45a49d 8.65%,
    #40b8a2 40.66%,
    #75d6ad 78.96%
  );
  box-shadow: inset 0px 4px 10px rgba(69, 164, 157, 0.2);
}
nav .socialMedia .icon {
  margin-left: 0.5rem;
}

/* btn */
.socialMedia .icon img {
  width: 30px;
  height: 30px;
}
.btn {
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3em;
  padding: 16px 20px;
  width: 250px;
}

.full {
  background: linear-gradient(90deg, #45a49d, transparent) #75d6ad;
  transition: background-color 3s;
  color: var(--black);
}

.full:hover {
  background: linear-gradient(90deg, #75d6ad, transparent) #45a49d;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37);
}
.ghost {
  position: relative;
  border: 10px;
  background: var(--white);
  box-shadow: -1px 0 var(--darkgreen), 0 1px var(--lightgreen),
    1px 0 var(--lightgreen), 0 -1px var(--darkgreen) !important;
  color: var(--green);
  font-size: 1.3em;
}

.ghost::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 10px solid transparent;
  box-shadow: 0px 5px 5px rgba(54, 128, 123, 0.37); 
}

.ghost:hover::before{
  box-shadow: 0px 3px 2px rgba(54, 128, 123, 0.37)
}

 @media screen and (max-width: 500px){
  h1{
    font-size: 5em;
  }
  p{
    font-size: 1em;
  }

} 