.content-info{
    display: flex;
    justify-content: space-between;
}
.content-info h1 {
    font-size: 2em;
    margin-bottom: 5rem;
}
.content-info h1 span{
    font-size: 3em;
}
.info-box{
    padding: 2rem;
}
.info-box p{
    margin-bottom: 1rem;
    color: var(--green);
    font-weight: 500;
    text-transform: uppercase;
}
.info-box ul li{
    font-size: 1.5em;
    font-weight:200;
}
.more-project,
.project-card{
    display: flex;
    gap: 2rem;
}
.more-project{
    overflow-x: auto;
}
.card-gradient-green{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    transition: transform 0.5s ease;

}
.more-project-title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.more-project-title a{
    color: var(--black);
    font-size: 1.5em;
    transition: transform 0.2s ease;
    
}
.more-project-title a:hover,
.card-gradient-green:hover
{
    transform: scale(1.05);
}
/* grid template vorgehensweise  */
.container-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    margin-bottom: 5rem;
}

